@font-face {
  font-family: "InterSemi";
  src: url("assets/fonts/static/Inter-SemiBold.ttf") format("truetype"),
    url("assets/font/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterBold";
  src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype"),
    url("assets/font/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype"),
    url("assets/font/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

main {
  padding: 40px;
  height: 611px;
  width: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  gap: 24px;
}

img {
  border-radius: 50%;
  width: 88px;
}

.whois {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 304px;
  height: 61px;
}

author {
  text-align: center;
  font-family: "InterSemi", sans-serif;
  font-size: 1em;
  padding: 5px;
  font-size: 24px;
  color: white;
  filter: drop-shadow(1px 1px hsl(0, 0%, 8%));
}

address {
  text-align: center;
  font-family: "InterBold", sans-serif;
  font-size: 0.83em;
  color: #c4f82a;
  font-size: 14px;
  filter: drop-shadow(1px 1px hsl(0, 0%, 8%));
}

p {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 304px;
  height: 45px;
  background-color: grey;
  margin: 16px auto;
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  font-family: "InterBold", sans-serif;
  transition: 0.4s ease-in-out;
}

li:hover {
  background-color: #c4f82a;
  color: #333333;
  cursor: pointer;
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 375px) {
  main {
    padding: 24px;
    height: 579px;
    width: 327px;
  }

  .whois {
    width: 279px;
    height: 61px;
  }

  li {
    width: 279px;
    height: 45px;
  }
}
